# AWS S3 Configuration
AWS_ACCESS_KEY_ID=AKIARNBXXY63VNEMZXMT
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-north-1
S3_BUCKET_NAME=miniproject-image-processing-storage

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/
DB_NAME=image_storage

# Flask Configuration
FLASK_ENV=production
FLASK_DEBUG=False
SECRET_KEY=your_secret_key_here

# Server Configuration
PORT=5000
HOST=0.0.0.0
